server:
  address: 0.0.0.0
  port: 8080

spring:
  application:
    name: ordemservico
  datasource:
    url: jdbc:postgresql://localhost:5432/fixit_db
    username: fixit_user
    password: fixit_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  messages:
    basename: messages
    encoding: UTF-8

app:
  storage:
    base-path: ./storage

---

spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/fixit_db
    username: fixit_user
    password: fixit_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true
  flyway:
    enabled: true
